<!--

<div class="login-page">
    <div class="form">
        <form [formGroup]="fgValidator" (ngSubmit)="IdentificarUsuario()" class="login-form">
        <input formControlName="usuario" type="text" placeholder="correo electronico"/>
        <input formControlName="clave" type="password" placeholder="contraseña"/>
        <button [disabled]="!fgValidator.valid" type="submit">Iniciar Sesión</button>
        <p class="message">Olvidaste la contraseña? <a href="#">Recuperar Contraseña</a></p>
        <p class="message">Aun no tienes cuenta? <a href="#">Registrarse</a></p>
      </form>
    </div>
  </div>

-->

<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>

  <form [formGroup]="fgValidator" (ngSubmit)="IdentificarUsuario()" class="login-container">
    <p><input formControlName="usuario" type="text" placeholder="correo electronico"/></p>
    <p><input formControlName="clave" type="password" placeholder="contraseña"/></p>
    <p><input type="submit" value="Log in"></p>
    <button [disabled]="!fgValidator.valid" type="submit">Iniciar Sesión</button>
  </form>
</div>